{% extends 'base.html' %}

{% block content %}

    <h2>{{ book.title }}</h2>

    <a href="{% url 'home:new_chapter' book.id %}">Add a chapter.</a>

    {% if not chapter %}
        <ul>
        {% for chapter in chapters %}
            <li>
                <h3>{{ chapter.subtitle }}</h3> 
                <a href="{% url 'home:delete_chapter' chapter.id book.id %}">Delete</a> -
                <a href="{% url 'home:edit_chapter' chapter.id book.id %}">Update</a>
                <p>
                    {{ chapter.text }}
                </p>
            </li>
        {% endfor %}
        </ul>
    {% else %}
        <p>No chapters have been added yet.</p>
    {% endif %}

{% endblock content %}